test2*
test*
*.alias
factfinder-download/ACS_10_1YR_B25057_with_ann.csv
factfinder-download/ACS_10_1YR_B25057.txt
factfinder-download/ACS_10_1YR_B25058_with_ann.csv
factfinder-download/ACS_10_1YR_B25058.txt
factfinder-download/ACS_10_1YR_B25059_with_ann.csv
factfinder-download/ACS_10_1YR_B25059.txt
factfinder-download/ACS_10_1YR_B25060_with_ann.csv
factfinder-download/ACS_10_1YR_B25060.txt
factfinder-download/DEC_10_SF1_QTH1_with_ann.csv
factfinder-download/DEC_10_SF1_QTH1.txt
output.dbf
tst.dbf